<h1>all the boards</h1>
<hr />


<div class="ui grid">
  <% @boards.each do |board| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
       
        <div class="content">
          <%= link_to "#{board.name}", board, class: "header", style: "text-align:center;background-color: rgba(128, 128, 128, 0.445);"%>
        </div>
         <div class = "description">
        <%board.lists.each do |l| %>
            <h4 style = "text-align: center;"><%=l.name%></h4>
        <%end%>
      </div>
        <div class="extra content">
          <div class="ui three buttons">
              <%= link_to(edit_board_path(board)) do %>
            <div class="ui  green button inverted">
            Edit
            </div>
            <%end%>
              <%= link_to(board_path(board) , method: :delete, data: {confirm: "are you sure?"}) do%>
            <div class="ui  red button inverted">
              Delete
            </div>
            <%end%>
             <%= link_to "View", board_path(board), class: "ui button green inverted"%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


